* {
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  background-color: rgb(2, 2, 2);
}

/* --------------- STYLE FOR BACKGROUND --------------- */

.mainBackgroundContainer {
  position: relative;
  object-fit: contain;
}

.backgroundTextContainer {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 40%;
  color: #fdfdfd;
  font-family: Helvetica, Arial, sans-serif;
  margin-left: 3rem;
  margin-right: 3rem;
  text-shadow: 1px 1px 10px #000;
}

.backgroundMovieTitle {
  margin-bottom: 6px;
  font-size: 25.5px;
}

@media screen and (min-width: 540px) {
  .backgroundMovieTitle {
    font-size: 32.5px
  }
}

.backgroundMovieOverview {
  font-size: 12.5px;
}

@media screen and (min-width: 540px) {
  .backgroundMovieOverview {
    font-size: 18.5px
  }
}

/* --------------- STYLE FOR CONTENT --------------- */

.contentMainContainer {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  height: 250px;
}

.contentMainContainer::-webkit-scrollbar {
  display: none;
}

.contentSecondContainer {
  transition: transform .4s ease .1s;
  position: relative;
  object-fit: contain;
}

.contentSecondContainer:hover,
.contentSecondContainer:hover .hiddenText {
  transform: scale(1.1);
  visibility: visible;
  cursor: pointer;
}

.hiddenText {
  display: flex;
  flex-direction: column;
  position: absolute;
  background: rgba(48, 41, 41, 0.5);
  bottom: 20%;
  left: 9%;
  right: 8%;
  visibility: hidden;
  justify-content: center;
  transition: transform .4s ease .1s;
  text-shadow: 2px 2px 10px #000;
  height: 180px;
  width: 280px;
}

.ratingDiv {
  position: fixed;
  bottom: 83.5%;
  font-weight: bolder;
  right: 50%;
  width: 150px;
  color: rgb(245, 209, 7);
}

/* .addToFavBtn {
  width: 1.3em;
  height: 1.3em;
  background-image: url(https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Ficons.iconarchive.com%2Ficons%2Fcustom-icon-design%2Fflatastic-1%2F512%2Fadd-1-icon.png&f=1&nofb=1);
  background-size: 1.3em;
  border-radius: 20px;
  border: transparent;
} */

