* {
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* STYLE FOR BACKGROUND */

.mainBackgroundContainer {
  position: relative;
  object-fit: contain;
}

.backgroundTextContainer {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 40%;
  color: #fdfdfd;
  font-family: Helvetica, Arial, sans-serif;
  margin-left: 3rem;
  margin-right: 3rem;
  text-shadow: 1px 1px 10px #000;
}

.backgroundMovieTitle {
  margin-bottom: 6px;
  font-size: 25.5px;
}

@media screen and (min-width: 540px) {
  .backgroundMovieTitle {
    font-size: 32.5px
  }
}

.backgroundMovieOverview {
  font-size: 12.5px;
}

@media screen and (min-width: 540px) {
  .backgroundMovieOverview {
    font-size: 18.5px
  }
}