@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Montserrat:wght@500&family=Press+Start+2P&family=Source+Code+Pro:wght@200&display=swap');

* {
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  background-color: rgb(2, 2, 2);
  font-family: 'Press Start 2P', 'sans-serief';
}

/* --------------- STYLE FOR NAV --------------- */
.navContainer {
  height: 60px;
  background: #000
}

.navLinks {
  text-decoration: none;
  color: #10B174;
  font-size: 13px;
  font-weight: 900;
}

.navItems {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
}

.favoritesNavDiv {
  color: #10B174;
  font-family: 'Press Start 2P';
  font-size: 13px;
  font-weight: bolder;
}

.userImage {
  height: 2rem;
  width: 2rem;
  border-radius: 5px;
}

.loginOutBtn {
  color: #10B174;
  font-weight: 900;
  font-size: 10px;
  background: transparent;
  border: none;
  font-family: 'Press Start 2P';
}

.loginOutBtn:hover {
  color: rgb(29, 80, 235);
  cursor: pointer;
}

/* --------------- STYLE FOR BACKGROUND --------------- */

.mainBackgroundContainer {
  position: relative;
  object-fit: contain;
}

.backgroundTextContainer {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 40%;
  color: #10B174;
  margin-left: 3rem;
  margin-right: 3rem;
  text-shadow: 1px 1px 10px #000;
}

.backgroundMovieTitle {
  margin-bottom: 6px;
  font-size: 13.5px;
}

@media screen and (min-width: 540px) {
  .backgroundMovieTitle {
    font-size: 20.5px
  }
}

.backgroundMovieOverview {
  font-size: 10.5px;
}

@media screen and (min-width: 540px) {
  .backgroundMovieOverview {
    font-size: 15.5px
  }
}

/* --------------- STYLE FOR CONTENT --------------- */

.contentGenereHeader {
  color: #10B174;
  font-size: 20.5px;
  margin-left: 4px;
}

.contentMainContainer {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  height: 250px;
}

.contentMainContainer::-webkit-scrollbar {
  display: none;
}

.contentSecondContainer {
  transition: transform .4s ease .1s;
  position: relative;
  object-fit: contain;
  padding: 12px;
}

.contentSecondContainer:hover,
.contentSecondContainer:hover .hiddenText {
  transform: scale(1.1);
  visibility: visible;
  cursor: pointer;
}

.contentImg {
  max-height: 180px;
  width: 320px;
}

.ratingDiv {
  display: flex;
  align-items: center;
}

.moviePosterTitle {
  margin-bottom: 7px;
  font-size: 9.5px;
}

.addToFavBtn {
  width: 2em;
  border: none;
  display: flex;
  background: transparent
}

.addToFavSpan {
  font-size: 8px;
  margin-left: 3px
}

.addToFavDiv {
  display: flex;
  position: fixed;
  bottom: 10%;
  align-items: center
}

.hiddenText {
  display: flex;
  flex-direction: column;
  position: absolute;
  background: rgba(7, 7, 7, 0.5);
  bottom: 2%;
  left: 9%;
  right: 9%;
  visibility: hidden;
  justify-content: center;
  transition: transform .4s ease .1s;
  text-shadow: 2px 2px 10px #000;
  height: 180px;
  width: 280px;
  color: #10B174;
  line-height: 1.6;
  font-weight: bold;
}

.ratingDiv {
  position: fixed;
  bottom: 83.5%;
  right: 50%;
  width: 150px;
  color: rgb(245, 209, 7);
}

/* --------------- STYLE FOR SHOWMOVIE --------------- */

.backgroundDiv {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  object-fit: contain;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
}

.showMovieMainDiv {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 5%;
  right: 5%;
  align-items: center;
  height: 100%;
  height: 800px;
  background: rgba(7, 7, 7, 0.75);
}

@media screen and (min-width: 840px) {
  .showMovieMainDiv {
    flex-direction: row;
    justify-content: space-between;
    height: 570px;
  }
}

@media screen and (min-width: 955px) {
  .showMovieMainDiv {
    width: 950px;
    position: relative;
    height: 690px;
    left: 15%;
  }
}

.showMovieSecondPosterImg {
  width: 250px;
  height: 350px;
  filter: contrast(115%);
  margin-top: 10px;
}

@media screen and (min-width: 840px) {
  .showMovieSecondPosterImg {
    width: 360px;
    height: 570px;
    filter: contrast(115%);
    margin-top: 0px;
  }
}

@media screen and (min-width: 955px) {
  .showMovieSecondPosterImg {
    width: 430px;
    height: 690px;
    filter: contrast(115%);
    margin-top: 0px;
  }
}

.showMovieInfoDiv {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  line-height: 1.15;
  font-size: 10.5px;
  margin-top: 30px;
}

@media screen and (min-width: 840px) {
  .showMovieInfoDiv {
    font-size: 13.5px;
  }
}

@media screen and (min-width: 955px) {
  .showMovieInfoDiv {
    font-size: 17.5px;
  }
}

.showMovieRatingDiv {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 90%;
  font-size: 17px;
}

.showMovieAddToFav {
  position: absolute;
  bottom: 90%;
  left: 85%;
}

@media screen and (max-width: 840px) {
  .showMovieRatingDiv {
    bottom: 49%;
    font-size: 15px;
  }
}

.showMovieOverviewP {
  font-size: 11.5px;
}

@media screen and (min-width: 955px) {
  .showMovieOverviewP {
    font-size: 13.5px;
  }
}

.showAddToFavBtn {
  cursor: pointer;
  color: #10B174;
  border: none;
  font-weight: 900;
  background-color: rgba(51, 51, 51, 0.5);
  font-family: 'Press Start 2P', 'sans-serief';
  font-size: 10px;
  height: 2.5rem;
}

.showAddToFavBtn:hover {
  color: white;
  background-color: #10B174;
  transition: all 0.2s;
  border-radius: 10px;
}

  /* --------------- STYLE FOR SHOWCAST --------------- */

  .showCastMainDiv {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    margin-top: 10px;
  }

  .showCastImgDiv {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    margin-left: 20px;
  }

  .showCastImg {
    width: 75px;
  }

  @media screen and (min-width: 955px) {
    .showCastImg {
      width: 90px;
    }
  }

  .castTextDiv {
    display: flex;
    flex-direction: column;
    position: absolute;
    background: rgba(7, 7, 7, 0.5);
    height: 120px;
    text-shadow: 2px 2px 10px #000;
    font-size: 7px;
    line-height: 1.9;
    justify-content: center;
    text-align: center;
    font-weight: bolder;
    transition: transform .4s ease .1s;
    visibility: hidden;
  }

  @media screen and (min-width: 955px) {
    .castTextDiv {
      font-size: 8.5px;
    }
  }

  .showCastImgDiv:hover,
  .showCastImgDiv:hover .castTextDiv {
    transform: scale(1.1);
    visibility: visible;
    cursor: pointer;
  }

  .showMovieNetworkDiv {
    display: flex;
    align-items: center;
  }

  .networkLogo {
    background-color: white;
    border-radius: 5px;
    width: 45px;
    margin-left: 7px;
    transition: transform .4s ease .1s;
    cursor: pointer;
  }

  .networkLogo:hover {
    transform: scale(1.5);
  }

  .playTrailerBtnMoviePoster {
    display: flex;
    position: relative;
    bottom: 0px;
    right: 210px;
    background: transparent;
    width: 50px;
    border: 1px solid white;
    border-radius: 10px;
    transition: transform .4s ease .1s;
    cursor: pointer;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5)
  }

  /* --------------- STYLE FOR TRAILER --------------- */
  .setPlay {
    position: absolute;
    top: 800px;
    left: 22%;
    width: 50px;
    transition: transform .4s ease .1s;
  }

  @media screen and (min-width: 955px) {
    .setPlay {
      position: relative;
      top: 380px;
      left: 890%;
    }
  }

  @media screen and (max-width: 840px) {
    .setPlay {
      position: absolute;
      top: 920px;
      left: 50%;
      width: 50px;
      transition: transform .4s ease .1s;
    }
  }

  .playTrailerBtn,
  .youtubeCloseBtn {
    display: flex;
    background: transparent;
    width: 50px;
    border: 1px solid white;
    border-radius: 10px;
    transition: transform .4s ease .1s;
    cursor: pointer;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5)
  }

  .youtubeTrailer {
    position: absolute;
    top: 100%;
  }

  .youtubeCloseBtn {
    position: absolute;
    top: 107%;
    left: 2%;
  }

  .youtubeIcons {
    color: white;
    font-size: 50px;
  }

  /* --------------- STYLE FOR SEARCH --------------- */

  .contentMainContainerSearch {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 50px;
  }

  .mainSearchDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }


  .searchLinkTags {
    padding: 20px;
    color: #10B174;
  }

  .searchInput {
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    width: 170px;
    height: 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    font-family: 'Press Start 2P', 'sans-serief';
    color: #10B174;
    background-color: rgb(80, 76, 76);
  }

  .searchHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
  }